{
  "extends": ["airbnb"],
  "rules": {
    // questionable rule implementation
    "react/button-has-type": 0,

    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true
    }],

    // Allow children in inputs
    "jsx-a11y/label-has-for": [ 2, {
      "allowChildren": true
    }],

    // This is a library, props spreading is important
    "react/jsx-props-no-spreading": 0
  }
}
